{
  "openapi": "3.1.0",
  "info": {
    "title": "Zweitstimme Forecast API",
    "version": "2.0.0",
    "description": "Public JSON API for **election-day forecasts**, **posterior draws**, and **Aktuelle Stimmung**.\n\nStatic files, CORS-open (`Access-Control-Allow-Origin: *`), **GET only**. No authentication.\n\nThis is **not** the polling API for individual surveys. That lives at [api.zweitstimme.org/docs](https://api.zweitstimme.org/docs).\n\n## Concepts\n\n- **Forecast** — model output for election day: point estimates, uncertainty intervals, scenario probabilities, and optionally posterior draws.\n- **Stimmung** — Kalman-smoothed latent support by calendar day. Days without a new poll are still present. No seat scenarios.\n- **`election`** — names the next relevant election for that scope. It is not the forecast timestamp. The same path can refer to a later cycle.\n\n## Versioning\n\n| Version | Scope |\n|---|---|\n| `v1` | Federal (Bundestag) forecast contract |\n| `v2` | State forecasts, posterior draws, and Stimmung |\n| unversioned `/forecast.json` etc. | Legacy aliases of `v1` |\n\nStart at `GET /api/index.json`. Prefer `v2` for new integrations.\n\n## Envelope\n\nVersioned endpoints wrap payloads as:\n\n```json\n{\n  \"api_version\": \"v2\",\n  \"generated_at\": \"2026-08-18T08:06:53Z\",\n  \"election\": { \"id\": \"st_2026-09-06\", \"name\": \"Landtagswahl Sachsen-Anhalt\", \"date\": \"2026-09-06\", \"scope\": \"state\", \"state_code\": \"ST\" },\n  \"data\": {}\n}\n```\n\n## Availability\n\n- State forecasts exist only inside the **~90-day window** before election day. Outside that window the path returns **404**.\n- After election day the last forecast moves to `/api/v2/state/archive/`.\n- Archives start when this API began publishing them; there is no historical backfill.\n- `/data/*.json` files used by the website UI are **not** a public contract.\n\n## Units\n\nWatch the unit. Party vote shares in summary forecasts are usually **percentage points**. Posterior draws use **shares from 0 to 1**. Federal `pred_probabilities` are also 0–1. State scenario `probability` values are **percent 0–100**.\n\n## License\n\nTexts, explanations, and visualizations: [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/), attribution **zweitstimme.org**. Polling inputs may come from [dawum.de](https://dawum.de) ([ODbL](https://opendatacommons.org/licenses/odbl/)) and [wahlrecht.de](https://www.wahlrecht.de) / the named institutes. No guarantee of availability, completeness, or correctness. Forecasts and Stimmung are model outputs, not official results.",
    "contact": {
      "name": "zweitstimme.org",
      "url": "https://zweitstimme.org"
    },
    "license": {
      "name": "CC BY 4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    }
  },
  "externalDocs": {
    "description": "Polling API (individual surveys)",
    "url": "https://api.zweitstimme.org/docs"
  },
  "servers": [
    {
      "url": "https://zweitstimme.org",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "discovery",
      "description": "Catalog and OpenAPI document"
    },
    {
      "name": "state",
      "description": "Landtag election-day forecasts and posterior draws"
    },
    {
      "name": "stimmung",
      "description": "Kalman-smoothed daily latent support (federal and Länder)"
    },
    {
      "name": "federal",
      "description": "Bundestag forecast contract (`v1`)"
    },
    {
      "name": "legacy",
      "description": "Unversioned root aliases of the federal `v1` contract"
    }
  ],
  "paths": {
    "/api/index.json": {
      "get": {
        "operationId": "get_api_index_json",
        "summary": "API discovery",
        "description": "Catalog of versions, endpoints, archive policy, and OpenAPI URL. Start here.",
        "tags": [
          "discovery"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIndex"
                }
              }
            }
          }
        }
      }
    },
    "/api/openapi.json": {
      "get": {
        "operationId": "get_api_openapi_json",
        "summary": "OpenAPI document",
        "description": "This specification as JSON.",
        "tags": [
          "discovery"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/federal/index.json": {
      "get": {
        "operationId": "get_v1_federal_index",
        "summary": "Federal forecast catalog",
        "description": "Entry point for the older federal (`v1`) contract, including legacy root aliases.",
        "tags": [
          "federal"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/FederalIndexData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/federal/forecast.json": {
      "get": {
        "operationId": "get_v1_federal_forecast",
        "summary": "Federal party forecast",
        "description": "Array of party rows in `data`. Point estimates and intervals are **percentage points**.",
        "tags": [
          "federal"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FederalPartyRow"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/federal/pred_probabilities.json": {
      "get": {
        "operationId": "get_v1_federal_pred_probabilities",
        "summary": "Federal scenario probabilities",
        "description": "`data` is a one-element array of probability maps. Values are **shares from 0 to 1**.",
        "tags": [
          "federal"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FederalProbabilities"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/federal/forecast_districts.json": {
      "get": {
        "operationId": "get_v1_federal_forecast_districts",
        "summary": "Federal district forecast",
        "description": "Wahlkreis-level first- and second-vote forecast. Large file.",
        "tags": [
          "federal"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FederalDistrictRow"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/federal/archive/index.json": {
      "get": {
        "operationId": "get_v1_federal_archive_index",
        "summary": "Federal archive catalog",
        "description": "Archived federal forecast runs. Empty until the pipeline has frozen a cycle.",
        "tags": [
          "federal"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/federal/archive/{date}.json": {
      "get": {
        "operationId": "get_v1_federal_archive_run",
        "summary": "One archived federal forecast",
        "description": "Frozen federal forecast for one run date.",
        "tags": [
          "federal"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "404": {
            "description": "No archived federal forecast for that date."
          }
        },
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Archive date `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "example": "2025-02-23",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          }
        ]
      }
    },
    "/api/v2/state/index.json": {
      "get": {
        "operationId": "get_v2_state_index",
        "summary": "Active state forecasts",
        "description": "States currently inside the ~90-day forecast window. Prefer this over hardcoding state codes. Each item includes `path` and, when published, `draws`.",
        "tags": [
          "state"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StateIndex"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/state/{code}.json": {
      "get": {
        "operationId": "get_v2_state_forecast",
        "summary": "One state forecast",
        "description": "Summary forecast for one Landtag election: party estimates, intervals, and scenario probabilities. **404** when the state is outside the forecast window.",
        "tags": [
          "state"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StateForecastData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No active forecast for that state (outside the window, unknown code, or not yet published)."
          }
        },
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Lowercase German state code, for example `st`, `be`, `mv`.",
            "schema": {
              "type": "string",
              "enum": [
                "bb",
                "be",
                "bw",
                "by",
                "hb",
                "he",
                "hh",
                "mv",
                "ni",
                "nw",
                "rp",
                "sh",
                "sl",
                "sn",
                "st",
                "th"
              ],
              "example": "st"
            }
          }
        ]
      }
    },
    "/api/v2/state/{code}/draws.json": {
      "get": {
        "operationId": "get_v2_state_draws",
        "summary": "State posterior draws",
        "description": "Raw posterior simulations (`unit: share`, 0–1) behind the summary and scenarios, plus last-poll timing and the published forecast with CIs so the file is self-contained. Regenerated on every state-forecast run. Large file (~4000 draws).",
        "tags": [
          "state"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StateDrawsData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No draws published for that state."
          }
        },
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Lowercase German state code, for example `st`, `be`, `mv`.",
            "schema": {
              "type": "string",
              "enum": [
                "bb",
                "be",
                "bw",
                "by",
                "hb",
                "he",
                "hh",
                "mv",
                "ni",
                "nw",
                "rp",
                "sh",
                "sl",
                "sn",
                "st",
                "th"
              ],
              "example": "st"
            }
          }
        ]
      }
    },
    "/api/v2/state/archive/index.json": {
      "get": {
        "operationId": "get_v2_state_archive_index",
        "summary": "State archive catalog",
        "description": "Frozen Landtag forecasts after election day. Not backfilled for older cycles.",
        "tags": [
          "state"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/state/archive/{id}.json": {
      "get": {
        "operationId": "get_v2_state_archive_forecast",
        "summary": "One archived state forecast",
        "description": "Frozen state forecast. May include `archived: true`.",
        "tags": [
          "state"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StateForecastData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No archived forecast for that id."
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Archive id `{code}_{YYYY-MM-DD}`, for example `st_2021-06-06`.",
            "schema": {
              "type": "string",
              "example": "st_2021-06-06",
              "pattern": "^[a-z]{2}_\\d{4}-\\d{2}-\\d{2}$"
            }
          }
        ]
      }
    },
    "/api/v2/state/archive/{id}/draws.json": {
      "get": {
        "operationId": "get_v2_state_archive_draws",
        "summary": "Archived state draws",
        "description": "Posterior draws that belong to one archived state forecast.",
        "tags": [
          "state"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StateDrawsData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No archived draws for that id."
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Archive id `{code}_{YYYY-MM-DD}`, for example `st_2021-06-06`.",
            "schema": {
              "type": "string",
              "example": "st_2021-06-06",
              "pattern": "^[a-z]{2}_\\d{4}-\\d{2}-\\d{2}$"
            }
          }
        ]
      }
    },
    "/api/v2/stimmung/federal/current.json": {
      "get": {
        "operationId": "get_v2_stimmung_federal_current",
        "summary": "Federal Stimmung, current day",
        "description": "Kalman latent support for today. Values are **percentage points**. `election` names the next Bundestag election, which may have an estimated date.",
        "tags": [
          "stimmung"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StimmungCurrentData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/stimmung/federal.json": {
      "get": {
        "operationId": "get_v2_stimmung_federal_series",
        "summary": "Federal Stimmung, full series",
        "description": "Daily federal series. Pick a day with `data.by_date[\"YYYY-MM-DD\"]`. No `?date=` parameter.",
        "tags": [
          "stimmung"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StimmungSeriesData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/stimmung/state/index.json": {
      "get": {
        "operationId": "get_v2_stimmung_state_index",
        "summary": "State Stimmung catalog",
        "description": "All Länder, including those without an active election-day forecast. Use `path` for the full series and `current` for today.",
        "tags": [
          "stimmung"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/stimmung/state/{code}/current.json": {
      "get": {
        "operationId": "get_v2_stimmung_state_current",
        "summary": "State Stimmung, current day",
        "description": "Kalman latent support for one Land, current day.",
        "tags": [
          "stimmung"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StimmungCurrentData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown state code."
          }
        },
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Lowercase German state code, for example `st`, `be`, `mv`.",
            "schema": {
              "type": "string",
              "enum": [
                "bb",
                "be",
                "bw",
                "by",
                "hb",
                "he",
                "hh",
                "mv",
                "ni",
                "nw",
                "rp",
                "sh",
                "sl",
                "sn",
                "st",
                "th"
              ],
              "example": "st"
            }
          }
        ]
      }
    },
    "/api/v2/stimmung/state/{code}.json": {
      "get": {
        "operationId": "get_v2_stimmung_state_series",
        "summary": "State Stimmung, full series",
        "description": "Daily series for one Land. Index `data.by_date[YYYY-MM-DD]` locally.",
        "tags": [
          "stimmung"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StimmungSeriesData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown state code."
          }
        },
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Lowercase German state code, for example `st`, `be`, `mv`.",
            "schema": {
              "type": "string",
              "enum": [
                "bb",
                "be",
                "bw",
                "by",
                "hb",
                "he",
                "hh",
                "mv",
                "ni",
                "nw",
                "rp",
                "sh",
                "sl",
                "sn",
                "st",
                "th"
              ],
              "example": "st"
            }
          }
        ]
      }
    },
    "/forecast.json": {
      "get": {
        "operationId": "get_legacy_forecast",
        "summary": "Legacy federal forecast alias",
        "description": "Alias of `/api/v1/federal/forecast.json`. Enveloped payload, not a bare array.",
        "tags": [
          "legacy"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/pred_probabilities.json": {
      "get": {
        "operationId": "get_legacy_pred_probabilities",
        "summary": "Legacy federal probabilities alias",
        "description": "Alias of `/api/v1/federal/pred_probabilities.json`.",
        "tags": [
          "legacy"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/forecast_districts.json": {
      "get": {
        "operationId": "get_legacy_forecast_districts",
        "summary": "Legacy federal districts alias",
        "description": "Alias of `/api/v1/federal/forecast_districts.json`.",
        "tags": [
          "legacy"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    }
  },
  "components": {
    "schemas": {
      "Election": {
        "type": "object",
        "description": "Which election this payload refers to. Re-read it; the same path can name a later cycle.",
        "required": [
          "id",
          "name",
          "date",
          "scope"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "st_2026-09-06"
          },
          "name": {
            "type": "string",
            "example": "Landtagswahl Sachsen-Anhalt"
          },
          "date": {
            "type": "string",
            "format": "date",
            "example": "2026-09-06"
          },
          "scope": {
            "type": "string",
            "enum": [
              "federal",
              "state"
            ]
          },
          "state_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Uppercase state code, or null for federal payloads.",
            "example": "ST"
          },
          "date_is_estimated": {
            "type": "boolean",
            "description": "True when the election date is a placeholder, not a scheduled date."
          }
        }
      },
      "Envelope": {
        "type": "object",
        "description": "Common wrapper for versioned endpoints.",
        "required": [
          "api_version",
          "generated_at",
          "election",
          "data"
        ],
        "properties": {
          "api_version": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ]
          },
          "generated_at": {
            "type": "string",
            "format": "date-time",
            "description": "API publish time (UTC). Distinct from the model-run timestamp inside `data`."
          },
          "election": {
            "$ref": "#/components/schemas/Election"
          },
          "data": {
            "description": "Endpoint-specific payload."
          },
          "as_of": {
            "type": "string",
            "format": "date",
            "description": "Present on Stimmung responses: calendar day represented by the payload."
          },
          "archived": {
            "type": "boolean",
            "description": "Present on archive responses."
          }
        }
      },
      "ApiIndex": {
        "type": "object",
        "description": "Machine-readable catalog of the Forecast API.",
        "properties": {
          "name": {
            "type": "string"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "docs": {
            "type": "string",
            "format": "uri"
          },
          "openapi": {
            "type": "string"
          },
          "versions": {
            "type": "object"
          },
          "election_envelope": {
            "type": "object"
          },
          "legacy_root": {
            "type": "object"
          },
          "policy": {
            "type": "object"
          },
          "counts": {
            "type": "object"
          }
        }
      },
      "FederalIndexData": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "archive_index": {
            "type": "string"
          },
          "archive_count": {
            "type": "integer"
          },
          "legacy_redirects": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "note": {
            "type": "string"
          }
        }
      },
      "FederalPartyRow": {
        "type": "object",
        "description": "One party in the federal forecast. `value`/`y` and interval fields are percentage points. `low`/`high` ≈ 83% interval; `low95`/`high95` ≈ 95%.",
        "properties": {
          "name": {
            "type": "string",
            "example": "CDU/CSU"
          },
          "name_eng": {
            "type": "string"
          },
          "_row": {
            "type": "string",
            "description": "Party code such as `cdu` or `afd`.",
            "example": "cdu"
          },
          "value": {
            "type": "number",
            "description": "Point estimate in percentage points."
          },
          "y": {
            "type": "number",
            "description": "Same as `value` (chart helper)."
          },
          "x": {
            "type": "integer"
          },
          "low": {
            "type": "number"
          },
          "high": {
            "type": "number"
          },
          "low95": {
            "type": "number"
          },
          "high95": {
            "type": "number"
          },
          "color": {
            "type": "string"
          }
        }
      },
      "FederalProbabilities": {
        "type": "object",
        "description": "Probabilities as shares from **0 to 1**, not percentages. Keys: `hurdle_*` (clears 5%), `maj_*` (coalition seat majority), `prob_*_largest`, `grundmandat_*`.",
        "additionalProperties": {
          "type": "number"
        },
        "example": {
          "hurdle_fdp": 0.144,
          "maj_cdu_csu_spd": 0.609,
          "prob_cdu_csu_largest": 0.921
        }
      },
      "FederalDistrictRow": {
        "type": "object",
        "description": "District-level first/second-vote forecast row. Large file.",
        "properties": {
          "wkr": {
            "type": "integer",
            "description": "Wahlkreis number."
          },
          "wkr_name": {
            "type": "string"
          },
          "land": {
            "type": "string"
          },
          "party": {
            "type": "string"
          },
          "partei": {
            "type": "string"
          },
          "value": {
            "type": "number",
            "description": "First-vote point estimate, percentage points."
          },
          "low": {
            "type": "number"
          },
          "high": {
            "type": "number"
          },
          "probability": {
            "type": "number",
            "description": "Win probability, 0–1."
          },
          "winner": {
            "type": [
              "boolean",
              "integer",
              "string",
              "null"
            ]
          },
          "zs_value": {
            "type": "number",
            "description": "Second-vote (Zweitstimme) estimate."
          },
          "zs_low": {
            "type": "number"
          },
          "zs_high": {
            "type": "number"
          },
          "Nachname": {
            "type": [
              "string",
              "null"
            ]
          },
          "Vornamen": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "StateCatalogItem": {
        "type": "object",
        "properties": {
          "state_code": {
            "type": "string",
            "example": "ST"
          },
          "path": {
            "type": "string",
            "example": "/api/v2/state/st.json"
          },
          "draws": {
            "type": "string",
            "description": "Present when posterior draws are published.",
            "example": "/api/v2/state/st/draws.json"
          },
          "active": {
            "type": "boolean"
          },
          "election": {
            "$ref": "#/components/schemas/Election"
          }
        }
      },
      "StateIndex": {
        "type": "object",
        "properties": {
          "api_version": {
            "type": "string",
            "example": "v2"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "forecast_window_days": {
            "type": "integer",
            "example": 90
          },
          "states": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StateCatalogItem"
            }
          },
          "archive_index": {
            "type": "string"
          },
          "archive_count": {
            "type": "integer"
          }
        }
      },
      "StatePartyRow": {
        "type": "object",
        "description": "`fit`/`low`/`high` are percentage points. `low`/`high` ≈ 83% interval.",
        "required": [
          "party",
          "party_code",
          "fit"
        ],
        "properties": {
          "party": {
            "type": "string",
            "example": "CDU"
          },
          "party_code": {
            "type": "string",
            "example": "cdu"
          },
          "fit": {
            "type": "number",
            "example": 23
          },
          "low": {
            "type": "number",
            "example": 17
          },
          "high": {
            "type": "number",
            "example": 29
          }
        }
      },
      "StateScenarioItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "largest_party_afd"
          },
          "category": {
            "type": "string",
            "example": "largest_party"
          },
          "label_de": {
            "type": "string",
            "example": "AfD stärkste Kraft"
          },
          "probability": {
            "type": "number",
            "description": "Percent from 0 to 100, not a 0–1 share.",
            "example": 98
          }
        }
      },
      "StateForecastMetadata": {
        "type": "object",
        "properties": {
          "state_code": {
            "type": "string"
          },
          "election_id": {
            "type": "string"
          },
          "election_name": {
            "type": "string"
          },
          "election_date": {
            "type": "string",
            "format": "date"
          },
          "last_poll_date": {
            "type": "string",
            "format": "date",
            "description": "Newest poll included in this forecast."
          },
          "asof_date": {
            "type": "string",
            "format": "date",
            "description": "Forecast input-date anchor."
          },
          "last_update": {
            "type": "string",
            "description": "When this forecast was computed / exported (UTC)."
          },
          "lead_horizon_days": {
            "type": "integer",
            "description": "Days until election used in the model."
          },
          "n_draws": {
            "type": "integer",
            "example": 4000
          },
          "draws_path": {
            "type": "string",
            "example": "/api/v2/state/st/draws.json"
          },
          "model": {
            "type": "string"
          },
          "source_repo": {
            "type": "string"
          }
        }
      },
      "StateForecastData": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/StateForecastMetadata"
          },
          "parties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatePartyRow"
            }
          },
          "scenarios": {
            "type": "object",
            "properties": {
              "min_probability_pct": {
                "type": "number"
              },
              "hurdle_pct": {
                "type": "number"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StateScenarioItem"
                }
              }
            }
          }
        }
      },
      "StateDraw": {
        "type": "object",
        "description": "One posterior simulation. Values are vote **shares from 0 to 1**, normalized to 1.",
        "additionalProperties": {
          "type": "number"
        },
        "example": {
          "cdu": 0.23,
          "spd": 0.07,
          "gru": 0.05,
          "afd": 0.41,
          "oth": 0.04
        }
      },
      "StateDrawsData": {
        "type": "object",
        "description": "Self-contained posterior draws for one state forecast: raw simulations plus last-poll timing and the published summary with CIs. Regenerated whenever the state forecast is rerun.",
        "properties": {
          "n_draws": {
            "type": "integer",
            "example": 4000
          },
          "unit": {
            "type": "string",
            "enum": [
              "share"
            ],
            "description": "`share` means 0–1 vote shares, not percentage points."
          },
          "normalization": {
            "type": "string",
            "example": "shares_sum_to_1",
            "description": "Each draw's party shares sum to 1."
          },
          "notes": {
            "type": "string"
          },
          "forecast_path": {
            "type": "string",
            "example": "/api/v2/state/st.json",
            "description": "Companion summary endpoint for this same run."
          },
          "last_update": {
            "type": "string",
            "description": "Forecast-run timestamp (UTC). Distinct from envelope `generated_at`."
          },
          "asof_date": {
            "type": "string",
            "format": "date",
            "description": "Forecast input-date anchor."
          },
          "last_poll_date": {
            "type": "string",
            "format": "date",
            "description": "Newest poll included in this forecast."
          },
          "metadata": {
            "$ref": "#/components/schemas/StateForecastMetadata"
          },
          "summary": {
            "type": "object",
            "description": "Published point estimates and ~83% intervals in percentage points, computed from these draws.",
            "properties": {
              "parties": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StatePartyRow"
                }
              }
            }
          },
          "parties": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "cdu",
              "spd",
              "gru",
              "fdp",
              "lin",
              "afd",
              "bsw",
              "oth"
            ]
          },
          "draws": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StateDraw"
            }
          }
        }
      },
      "StimmungCurrentData": {
        "type": "object",
        "properties": {
          "as_of": {
            "type": "string",
            "format": "date"
          },
          "parties": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "number",
                "null"
              ]
            },
            "description": "Map of party label → numeric value. Inactive parties may be null.",
            "example": {
              "CDU/CSU": 20.3,
              "AfD": 28.0,
              "SPD": 12.1
            }
          },
          "uncertainty_low": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "number",
                "null"
              ]
            },
            "description": "Map of party label → numeric value. Inactive parties may be null.",
            "example": {
              "CDU/CSU": 20.3,
              "AfD": 28.0,
              "SPD": 12.1
            }
          },
          "uncertainty_high": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "number",
                "null"
              ]
            },
            "description": "Map of party label → numeric value. Inactive parties may be null.",
            "example": {
              "CDU/CSU": 20.3,
              "AfD": 28.0,
              "SPD": 12.1
            }
          },
          "trends": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "number",
                "null"
              ]
            },
            "description": "Short-run movement in percentage points.",
            "example": {
              "CDU/CSU": 20.3,
              "AfD": 28.0,
              "SPD": 12.1
            }
          },
          "active_parties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "note": {
            "type": "string"
          }
        }
      },
      "StimmungSeriesData": {
        "type": "object",
        "description": "Full daily series. There is no `?date=` query because the API is statically hosted. Index `by_date[YYYY-MM-DD]` locally.",
        "properties": {
          "as_of": {
            "type": "string",
            "format": "date"
          },
          "dates": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            }
          },
          "series": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "description": "Party label → array aligned with `dates`."
          },
          "by_date": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "parties": {
                  "type": "object",
                  "additionalProperties": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "description": "Map of party label → numeric value. Inactive parties may be null.",
                  "example": {
                    "CDU/CSU": 20.3,
                    "AfD": 28.0,
                    "SPD": 12.1
                  }
                }
              }
            },
            "description": "Calendar date → `{ parties: { … } }`."
          },
          "current": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "number",
                "null"
              ]
            },
            "description": "Map of party label → numeric value. Inactive parties may be null.",
            "example": {
              "CDU/CSU": 20.3,
              "AfD": 28.0,
              "SPD": 12.1
            }
          },
          "trends": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "number",
                "null"
              ]
            },
            "description": "Map of party label → numeric value. Inactive parties may be null.",
            "example": {
              "CDU/CSU": 20.3,
              "AfD": 28.0,
              "SPD": 12.1
            }
          },
          "active_parties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "uncertainty_low": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "number",
                "null"
              ]
            },
            "description": "Map of party label → numeric value. Inactive parties may be null.",
            "example": {
              "CDU/CSU": 20.3,
              "AfD": 28.0,
              "SPD": 12.1
            }
          },
          "uncertainty_high": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "number",
                "null"
              ]
            },
            "description": "Map of party label → numeric value. Inactive parties may be null.",
            "example": {
              "CDU/CSU": 20.3,
              "AfD": 28.0,
              "SPD": 12.1
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "StimmungStateCatalogItem": {
        "type": "object",
        "properties": {
          "state_code": {
            "type": "string",
            "example": "ST"
          },
          "path": {
            "type": "string",
            "example": "/api/v2/stimmung/state/st.json"
          },
          "current": {
            "type": "string",
            "example": "/api/v2/stimmung/state/st/current.json"
          },
          "election": {
            "$ref": "#/components/schemas/Election"
          },
          "as_of": {
            "type": "string",
            "format": "date"
          }
        }
      }
    }
  }
}
